@{
    ViewBag.Title = "xtricate.build demo site";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about xtricate.build visit <a href="https://github.com/vip32/xtricate.build" title="xtricate.build on github">xtricate.build on github</a>.
</p>
<ul>
    <li>repository value for key 'id1' is <b>@ViewBag.RepositoryValue</b></li>
    <li>appsetting value for key 'setting1' is <b>@ViewBag.Setting1Value</b></li> 
    <li>appsetting value for key 'setting2' is <b>@ViewBag.Setting2Value</b></li>
    <li>appsetting value for key 'setting3' is <b>@ViewBag.Setting3Value</b></li>
    <li>
        <script type="text/javascript" src="@ViewBag.WorldtimeServerUrl/clocks/embed.js"></script>
        <script type="text/javascript" language="JavaScript">objNL = new Object; objNL.wtsclock = "wtsclock024.swf"; objNL.color = "000080"; objNL.wtsid = "NL"; objNL.width = 100; objNL.height = 100; objNL.wmode = "transparent"; showClock(objNL);</script>
    </li>
</ul>
